name: Docker Image CI

on:
  push:
    branches: [ "master" ]

jobs:

  build:
    permissions: write-all
    runs-on: ubuntu-latest
    env:
      IMAGE_BASE: cvergaray
      IMAGE_NAME: label_web_2
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get current date
        id: date
        run: echo "NOW=$(date +'%Y.%m%d')" >> $GITHUB_ENV
      - name: Create release
        id: create_release_id
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.NOW }}.${{ github.run_number }}
          release_name: Release ${{ env.NOW }}.${{ github.run_number }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Push Docker Image
        if: ${{ success() }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: |
            ${{ env.IMAGE_BASE }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_BASE }}/${{ env.IMAGE_NAME }}:${{ env.NOW }}.${{ github.run_number }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

